{
  "extends": ["stylelint-config-standard", "stylelint-config-html/svelte"],
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "order/order": ["custom-properties", "declarations"]
  }
}
