:root {
  --color-text: var(--color-light-0);
  --color-bg: var(--color-dark-0);
  --color-light-0: #fff;
  --color-light-1: #f8f6f4;
  --color-light-2: #e3f4f4;
  --color-dark-0: #242424;
  --color-success: #6bcb77;
  --color-error: #ff6b6b;
  --color-highlight: #4d96ff;

  background-color: var(--color-bg);
  color: var(--color-text);
  color-scheme: light dark;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: var(--color-dark-0);
    --color-bg: var(--color-light-1);
  }
}
